{% extends 'homepage.html'%}
{% load static %}
{% block content%}

	<div class="page-wraper"> 
       	
        <!-- HEADER START -->
        {% include 'include/header.html'%}

        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({{backround.image.url}});">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white  font-80 font-weight-900">О нас</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index' %}">Главная страница</a></li>
                                    <li>О нас</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
             
            <!-- WELCOME SECTION START -->
            <div class="section-full p-tb90 bg-white overflow-hide">
              
                <div class="container">
                    <div class="section-content">

                    	<div class="row">
                   
                    		<div class="col-md-6 col-sm-12 text-black">
                                <!-- TITLE START -->
                                <div class="section-head text-left">
                                    <h2 class=" m-b5" data-title="О {{setting.title}}">О {{setting.title}}</h2>
                                    <div class="wt-separator-outer">
                                        <div class="wt-separator bg-primary"></div>
                                    </div>
                                </div>
                                <!-- TITLE END -->                             
                                <h4 class=" m-t0">
                                    {{about.title}} 
                                </h4>
                                <p>{{about.descriptions}}</p>
                                
                                <div class="row equal-wraper">
                                    <div class="col-md-6 col-sm-6 m-b30">
										<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
                                            <div class="icon-md m-b20">
                                                <span class="icon-cell"><i class="flaticon-room-service v-icon"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <h4 class="wt-tilte">Кухня</h4>
                                            </div>
                                        </div>                                         
                                    </div>  
                                                                     
                                    <div class="col-md-6 col-sm-6 m-b30">
										<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
                                            <div class="icon-md m-b20">
                                                <span class="icon-cell"><i class="flaticon-conference v-icon"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <h4 class="wt-tilte ">Конференц-зал</h4>
                                            </div>
                                        </div> 
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6  m-b30">
										<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
                                            <div class="icon-md m-b20">
                                                <span class="icon-cell"><i class="flaticon-wifi v-icon"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <h4 class="wt-tilte ">Бесплатный  Wi-Fi</h4>
                                            </div>
                                        </div>                                         
                                    </div>  
                                                                     
                                    <div class="col-md-6 col-sm-6  m-b30">
										<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
                                            <div class="icon-md m-b20">
                                                <span class="icon-cell"><i class="flaticon-cards v-icon"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <h4 class="wt-tilte ">Игровая Зона</h4>
                                            </div>
                                        </div> 
                                    </div>                                    
                                </div>
                            </div>
                            
                        	<div class="col-md-6 col-sm-12">
                            	<div class="home-about-block-outer bg-repeat bg-white" style="background-image:url({% static 'images/background/bg-dot.jpg' %});">
                                	<div class="home-about-block-inner">
                                        <div class="home-about-slider owl-carousel owl-btn-vertical-center">
                                            {% for about in about.about.all%}

                                                {% if about.image%}    
                                                    <div class="item">
                                                        <div class="home-about-slider-pic">
                                                            <img src="{{about.image.url}}" alt="">
                                                        </div>
                                                    </div>
                                                {%endif%}    
                                            {% endfor %}
                                                    
                                        </div>  
                                    </div>	
                                </div>
                            </div>                                 
                        </div>

                    </div>
                </div>
            </div>  
            <!-- WELCOME  SECTION END --> 
            
            <!-- OUR SERVICES START -->
            <div class="section-full p-tb80 bg-gray">
                                         
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-left">
                        <h2 class=" m-b5">Наш сервис</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->                                   
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-wifi v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Бесплатный Wi-Fi</h4>
                                </div>
                            </div>                                       
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-room-service v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Кухня</h4>
                                </div>
                            </div>                                       
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-car v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Бесплатная парковка</h4>
                                </div>
                            </div>                                       
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-cards v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Игровая Зона</h4>
                                </div>
                            </div>                                       
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-stones v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Удобная локация(центр города)</h4>
                                </div>
                            </div>                                       
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
                                <div class="icon-md m-b20">
                                    <span class="icon-cell"><i class="flaticon-room-service-1 v-icon"></i></span>
                                </div>
                                <div class="icon-content">
                                    <h4 class="wt-tilte ">Отличный сервис</h4>
                                </div>
                            </div>                                       
                        </div>                                                                                                                        
                    </div>
                                                        
                </div>
            </div>   
            <!-- OUR SERVICES END -->          
             
            
            <!-- OUR STORY SECTION START -->
            <div class="section-full bg-gray p-tb90 ">
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-center">
                        <h2 class="m-b5">Our Story</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->                	
                    <div class="section-content our-story">
                        {% for history in history%}
                        <div class="row">
                        	<div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                	<div class="notification-animate">	
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="{{history.image.url}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        	<div class="col-md-6 col-sm-6">
                            	<div class="wt-box our-story-detail">
                                    <h4>{{history.years}}</h4>
                                    <h3 class=" m-b10">{{history.name}}</h3>
                                    <p>{{history.description}}</p>
                                </div>
                            </div>
                        </div> 
                         
                        {% endfor %}
                                                            
                    </div>
                </div>
                
                
            </div>   
            <!-- OUR STORY SECTION END -->                          
            
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        {% include 'include/footer.html'%}

        <!-- FOOTER END -->
        
        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
        
    </div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<!-- JAVASCRIPT  FILES ========================================= --> 
{% endblock%}