{% extends 'homepage.html'%}
{% load static %}
{% block content%}

    <div class="page-wraper">  
      	
        <!-- HEADER START -->
        {% include 'include/header.html'%}

        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({{backround.image.url}});">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white  font-80 font-weight-900">Наши контакты</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index'%}">Главная страница</a></li>
                                    <li>Наши контакты</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
             
            <!-- SECTION CONTENTG START -->
            <div class="section-full p-tb80">
                <!-- LOCATION BLOCK-->
                <div class="container">
                
                    <!-- GOOGLE MAP & CONTACT FORM -->
                    <div class="section-content">
                        <!-- CONTACT FORM-->
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                            	<div class="contact-info text-black m-b30">
                                    <!-- TITLE START -->
                                    <div class="section-head text-left">
                                        <h2 class="m-b5">Контактная информация</h2>
                                    </div>
                                    <!-- TITLE END -->                                
                                    <div class="wt-icon-box-wraper left p-b40">
                                        <div class="icon-xs"><i class="fa fa-phone"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0 font-weight-500">Номер телефона</h5>
                                            <p>{{contact.phone}}2</p>
                                        </div>
                                    </div>
                                    
                                    <div class="wt-icon-box-wraper left p-b40">
                                        <div class="icon-xs"><i class="fa fa-envelope"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0 font-weight-500">
                                                Адрес электронной почты</h5>
                                            <p>{{contact.email}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="wt-icon-box-wraper left">
                                        <div class="icon-xs"><i class="fa fa-map-marker"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0 font-weight-500">Информация об адресе</h5>
                                            <p>{{contact.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        	<div class="col-md-8 col-sm-6">
                            	<div class="contact-form cons-contact-form">
                                    
                                    <div class="contact-one m-b30">
                                    
                                        <!-- TITLE START -->
                                        <div class="section-head text-left">
                                            <h2 class="m-b5">Связаться</h2>
                                        </div>
                                        <!-- TITLE END -->  
                                        <form  method="POST">     
                                          {% csrf_token %}                         
                                            <div class="form-group">
                                                <input name="name" type="text" required class="form-control" placeholder="Имя">
                                            </div>
                                    
                                            <div class="form-group">
                                                <input name="email" type="email" class="form-control" required placeholder="Почта">
                                            </div>
                                    
                                            <div class="form-group">
                                                <textarea name="message" rows="4" class="form-control " required placeholder="Сообщение"></textarea>
                                            </div>
                                        
                                            <div class="text-right">
                                                <button name="submit" type="submit"  class="btn-half site-button button-lg m-b15">
                                                        <span>Отправить</span><em></em>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gmap-outline">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.515354928132!2d72.79900059793137!3d40.51881230000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdad3a5d9bea27%3A0x54339e858fbfc232!2z0JDQu9C40LXQstCwIDExMg!5e0!3m2!1sru!2skg!4v1675619207082!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>                    
                </div>
           </div>
         
            <!-- SECTION CONTENT END -->
            
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        {% include 'include/footer.html'%}

        <!-- FOOTER END -->
        
        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
        
    </div>
    

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<!-- JAVASCRIPT  FILES ========================================= --> 
{% endblock%}

