{% extends 'homepage.html'%}
{% load static %}
{% block content%}


    {% include 'include/header.html'%}

    
    <section class="u-align-center u-clearfix u-white u-section-2" id="sec-c8f0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1"> Торт & Десерт Кафе</h2>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/138b90293ae6530f9ca20e01/22.jpg">
              </div>
              <div class="u-over-slide u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/37b84237896b53a79b509f6c/rrr.jpg">
              </div>
              <div class="u-over-slide u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/fed0006d4dae5b0bb7e78a0c/jjj.jpg">
              </div>
              <div class="u-over-slide u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/869c0dd3357555109b79bbf4/ghgh.jpg">
              </div>

              <div class="u-over-slide u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/aaed299341e95f1cb9ebe9fb/ghghgh.jpg">
              </div>
              <div class="u-over-slide u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="" data-image-width="900" data-image-height="600">
                <img class="u-back-image u-expanded" src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/6a97819dcf66550ba23c1441/trtrt.jpg">
              </div>
              <div class="u-over-slide u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
{% endblock %}