{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{{setting.logo.url}}" />
    
    <!-- PAGE TITLE HERE -->
    <title>{{setting.title}} | {{setting.descriptions}}</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- BOOTSTRAP DATEPICKER STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/t-datepicker.min.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'css/t-datepicker-blue.css' %}" >     
       
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}" />


    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.min.css' %}">    
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
    <!-- SIDE SWITCHER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher.css' %}">         
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.min.css' %}">

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
    
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,800,800i,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i&display=swap&subset=latin-ext" rel="stylesheet"> 

</head>

<body>

	

        {% block content %}

        {% endblock %}

        <script  src="{% static 'js/jquery-1.12.4.min.js'%}"></script><!-- JQUERY.MIN JS -->
        <script  src="{% static 'js/bootstrap.min.js'%}"></script><!-- BOOTSTRAP.MIN JS -->
        
        <script  src="{% static 'js/magnific-popup.min.js'%}"></script><!-- MAGNIFIC-POPUP JS -->
        
        <script  src="{% static 'js/waypoints.min.js'%}"></script><!-- WAYPOINTS JS -->
        <script  src="{% static 'js/counterup.min.js'%}"></script><!-- COUNTERUP JS -->
        <script  src="{% static 'js/waypoints-sticky.min.js'%}"></script><!-- COUNTERUP JS -->
        
        <script  src="{% static 'js/isotope.pkgd.min.js'%}"></script><!-- MASONRY  -->
        
        <script  src="{% static 'js/owl.carousel.min.js'%}"></script><!-- OWL  SLIDER  -->
        <script src="{% static 'js/jquery.owl-filter.js'%}"></script>
        
        <script  src="{% static 'js/stellar.min.js'%}"></script><!-- PARALLAX BG IMAGE   --> 
        
        
        
        <script  src="{% static 'js/custom.js'%}"></script><!-- CUSTOM FUCTIONS  -->
        
        <!-- REVOLUTION JS FILES -->
        
        <script  src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js'%}"></script>
        <script  src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
        
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
        <script  src="{% static 'plugins/revolution/revolution/js/extensions/revolution-plugin.js'%}"></script>
        
        <!-- REVOLUTION SLIDER SCRIPT FILES -->
        <script  src="{% static 'js/rev-script-1.js'%}"></script>
        <script src="{% static 'js/t-datepicker.min.js'%}"></script>
        <script  src="{% static 'js/switcher.js'%}"></script><!-- SHORTCODE FUCTIONS  -->
        
        <!-- STYLE SWITCHER  ======= --> 
        <div class="styleswitcher">
        
            <div class="switcher-btn-bx">
                <a class="switch-btn">
                    <span class="fa fa-cog fa-spin"></span>
                </a>
            </div>
            
            <div class="styleswitcher-inner">
            
                <h6 class="switcher-title">Color Skin</h6>
                <ul class="color-skins">
                    <li><a class="theme-skin skin-1" href="{% static '  theme=css/skin/skin-1'%}" title="default Theme"></a></li>
                    <li><a class="theme-skin skin-2" href="{% static '  theme=css/skin/skin-2'%}" title="pink Theme"></a></li>
                    <li><a class="theme-skin skin-3" href="{% static '  theme=css/skin/skin-3'%}" title="sky Theme"></a></li>
                    <li><a class="theme-skin skin-4" href="{% static '  theme=css/skin/skin-4'%}" title="green Theme"></a></li>
                    <li><a class="theme-skin skin-5" href="{% static '  theme=css/skin/skin-5'%}" title="red Theme"></a></li>
                    <li><a class="theme-skin skin-6" href="{% static '  theme=css/skin/skin-6'%}" title="orange Theme"></a></li>
                </ul>   
                
            </div>    
        </div>
        <!-- STYLE SWITCHER END ==== -->
        </body>
        
        </html>