{% extends 'homepage.html'%}
{% load static %}
{% block content%}

	<div class="page-wraper"> 

        <!-- HEADER START -->
        {% include 'include/header.html'%}
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content ">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url({{backround.image.url}});">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white  font-80 font-weight-900">Наши номера</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index'%}">Главная страница</a></li>
                                    <li>Наши номера</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
            <!-- SECTION CONTENT START -->
            <div class="section-full p-tb90 ">
                <div class="container">

                    <div class="room-detail-outer">
                        <div class="wt-post-media">
                            <!--Fade slider-->
                            <div class="owl-carousel owl-fade-slider-one owl-btn-vertical-center owl-dots-bottom-right m-b30">
                                {% if room.image1%}    
                            
                                <div class="item">
                                    <div class="wt-thum-bx">
                                        <img src="{{room.image1.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}    
                                
                                {% if room.image2%}    

                                <div class="item">
                                    <div class="wt-thum-bx">
                                        <img src="{{room.image2.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}    
                                
                                {% if room.image3%}    

                                <div class="item">
                                    <div class="wt-thum-bx">
                                        <img src="{{room.image3.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}    
                                
                                {% if room.image4%}    

                                <div class="item">
                                    <div class="wt-thum-bx">
                                        <img src="{{room.image4.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}    
                                
                                {% if room.image5%}    

                                <div class="item">
                                    <div class="wt-thum-bx">
                                        <img src="{{room.image5.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}    
                                
                                
                            </div>
                            <!--fade slider END-->
                            <div class="room-facility">
                                <div class="room-discription">
                                    <h2>{{room.title}}</h2>
                                    <h4>{{room.price}}/в ночь</h4>
                                    <p>{{room.descriptions}}</p>
                                </div>
                                <div class="room-amenities m-b30">
                                    <h3>Удобства</h3>
                                    <div class="amenities-list equal-wraper clearfix">
                                        <ul>
                                            {% if room.amenities1%}
                                            <li class="equal-col"><h5 class="m-b0"> {{room.amenities1}}</h5></li>
                                            {%endif%}    

                                            {% if room.amenities2%}
                                            
                                            <li class="equal-col"><h5 class="m-b0">{{room.amenities2}}</h5></li>
                                            {%endif%}    

                                            {% if room.amenities3%}

                                            <li class="equal-col"><h5 class="m-b0">{{room.amenities3}}</h5></li>
                                            {%endif%}    

                                            {% if room.amenities4%}

                                            <li class="equal-col"><h5 class="m-b0">{{room.amenities4}}</h5></li>
                                            {%endif%}    

                                            {% if room.amenities5%}

                                            <li class="equal-col"><h5 class="m-b0">{{room.amenities5}}</h5></li>
                                            {%endif%}    

                                            {% if room.amenities6%}

                                            <li class="equal-col"><h5 class="m-b0">{{room.amenities6}}</h5></li>
                                            {%endif%}    


                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="room-Rates m-b30">
                                    <h3>Отзывы</h3>
                                    
                                        <div class="rating-bars">
                                            <div class="rate-bar-category">
                                                <span class="rate-bars-name">Сервис<strong class="rate-count">{{room.service}}</strong></span>
                                                <div class="rate-bars-line">
                                                    <div class="progress wt-probar-2 radius-md m-b0">
                                                        <div class="progress-bar bg-primary radius-md" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{room.service}}%;">
                                                            <span class="popOver" data-toggle="tooltips" data-placement="top" title="5%"></span>
                                                        </div>
                                                   </div> 
                                                </div> 
                                            </div>
                                            <div class="rate-bar-category">
                                                <span class="rate-bars-name">Комфорта<strong class="rate-count">{{room.comfort}}</strong></span>
                                                <div class="rate-bars-line">
                                                    <div class="progress wt-probar-2 radius-md m-b0">
                                                        <div class="progress-bar bg-primary radius-md" role="progressbar" aria-valuenow="70" aria-valuemin="10" aria-valuemax="100" style="width: {{room.comfort}}%;">
                                                            <span class="popOver" data-toggle="tooltips" data-placement="top" title="100%"></span>
                                                        </div>
                                                   </div> 
                                                </div> 
                                            </div>
                                            <div class="rate-bar-category">
                                                <span class="rate-bars-name">Локация<strong class="rate-count">{{room.location}}</strong></span>
                                                <div class="rate-bars-line">
                                                    <div class="progress wt-probar-2 radius-md m-b0">
                                                        <div class="progress-bar bg-primary radius-md" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="width: {{room.location}}%;">
                                                            <span class="popOver" data-toggle="tooltips" data-placement="top" title="100%"></span>
                                                        </div>
                                                   </div> 
                                                </div> 
                                            </div>
                                                                                                                                                                                          
                                            
                                               
                                        </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="clear" id="comment-list">
                        <div class="comments-area" id="comments">
                            <div class="p-tb30">
                                <!-- COMMENT LIST START -->
                                <ol class="comment-list p-a30 bg-gray">
                                    <li class="comment">
                                    	<!-- COMMENT BLOCK -->
                                        {% for comment in room.post_comment.all %}

                                            <div class="comment-body">
                                                <div class="comment-meta">
                                                    <a>{{comment.created}}</a>
                                                </div>                                        
                                                <div class="comment-author vcard">
                                                    <cite class="fn">{{comment.name}}</cite>
                                                </div>

                                                <p>{{comment.message}}</p>
                                                <div class="reply">
                                                </div>
                                            </div>
                                            <hr
                                            <!-- SUB COMMENT BLOCK -->
                                        {% endfor %}
                                    </li>
                                    
                                </ol>
                                <!-- COMMENT LIST END -->
                                
                                <!-- LEAVE A REPLY START -->
                                <div class="comment-respond m-t30" id="respond">
    
                                    <h2 class="comment-reply-title" id="reply-title">Оставить комментарий
                                    </h2>
                                    <div class="comment-form">
                                        <form method="POST">
                                            {%csrf_token%}

                                    
                                            <p class="comment-form-author">
                                                <label for="author">Имя <span class="required"></span></label>
                                                <input class="form-control" type="text"  name="name"  placeholder="Имя" 
                                            </p>
                                            
                                            <p class="comment-form-email">
                                                <label for="email">Почта <span class="required"></span></label>
                                                <input class="form-control" type="text"  name="email" placeholder="Почта"                                          </p>
                                            
                                        
                                            
                                            <p class="comment-form-comment">
                                                <label for="comment">Комментарий</label>
                                                <textarea class="form-control"  name="message" placeholder="Комментарий" ></textarea>
                                            </p>
                                            
                                            <p class="form-submit">
                                                <button class="site-button radius-no text-uppercase font-weight-600" type="submit">Отправить</button>
                                            </p>
                                            
                                        </form>
                                    </div>
                                </div>
                                <!-- LEAVE A REPLY END -->
                           </div>
                        </div>
                    </div>                      

                        
                </div>
            </div>
            <!-- SECTION CONTENT END -->

        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        {% include 'include/footer.html'%}

        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
        
    </div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== --> 

<!-- JAVASCRIPT  FILES ========================================= --> 
{% endblock%}

